html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Apple Color Emoji', 'Segoe UI', -apple-system,
    BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
  background: #fff;
  font-weight: 100;
}

.value {
  display: block;
  height: 20px;
  text-align: center;
  color: #1b1a1acf;
  font-weight: 700;
  font-size: 46px;
  margin: 20px 0px 20px;
  line-height: 20px;
}
.field {
  position: relative;
  min-width: 80px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(158 171 168 / 73%);
  display: block;
}
.field:nth-child(n + 2):nth-child(-n + 3):before,
.field:nth-child(n + 2):nth-child(-n + 3):after {
  content: '';
  position: absolute;
  bottom: 40px;
  left: 103%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1b1a1acf;
}
.field:nth-child(n + 2):nth-child(-n + 3):after {
  bottom: 65px;
}
.field:not(:first-child) {
  margin-left: 15px;
}
#timer-1 {
  display: flex;
  justify-content: center;
}
